@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Work+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f2e6;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', 'Times New Roman', serif;
  font-weight: 400;
}

p {
  line-height: 1.6;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
}
